@page "/consultavacuna"

//Aqui se consultaran las vacunas, y los tres listados:

<h3>Listado de Vacunados por Provincia</h3>
<h3>Listado de Vacunados por marca de Vacuna</h3>
<h3>Listado de Vacunados por Mes</h3>